/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************************************
                    CSS Starts Here
******************************************************/

body {
	font-family:'Poppins', san-serif;
}

h1{
    font-family: 'Poppins', san-serif;
    font-size:3rem;
    text-align:center;
	font-weight:700;
	line-height:2em;
}

h2{
    font-family: 'Poppins', san-serif;
    font-size:2rem;
    text-align:center;
	font-weight:600;
	line-height:2em;
}

h3{
    font-family:'Poppins', san-serif;
    font-size:1rem;
    font-weight:600;
	text-align:center;
	line-height:4em;
}

p{
    font-family:'Poppins';
    line-height:20;
}


.header {
	display: grid; 
	overflow: hidden;
	grid-template-columns: 0.9fr 1.2fr 0.9fr; 
	grid-template-rows: 1fr 1fr 1fr; 
	gap: 0px 0px; 
	grid-template-areas: 
	  "nav logo ."
	  ". . ."
	  ". . ."; 
}

.nav { 
	display:flex;
	font-size:1.5rem;
	color:black;
	padding-left:10px;
    font-family: 'Poppins', sans-serif;
    justify-content:space-between;
	grid-area: nav;
}

nav a{
    color:#000000;
}

nav li{
    padding-inline: 2rem;
}

nav a.current, nav a:active{
    background-color:#F2F2F2;
    color:#000000;
}

nav ul{
    display:flex;
    color: #000000;
}

nav a:hover{
    color:#000000;
}


.logo {
	background-color:#FFFFFF;
    text-align: center;
    animation: fadeIn 8s; 
	grid-area: logo;
}

.banner{
	position: relative;
	text-align: center;
	color: white;
}

.banner-text{
	/color:white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn {


}

.container {
    padding: 5em 35em 3em 35em;
    background-color: #FFFFFF;
}

.container-1 {
    padding: 3em 4em 4em;
    background-color: #FFFFFF;
}

.container-2 {


}

.newsletter {

}

.submitbtn {

}


.footer {
	padding:20 20 20 20;
	color:white;
	background-color:black;
	text-align:center;
}


@media only screen and (min-width: 25em) {
	container {
		background-color: white;
		padding:20px;
	}


@media only screen and (min-width: 38em) {
	container {
		background-color: white;
	}

}

@media only screen and (min-width: 60em) {
	container {
		background-color: white;
	}
}

@media only screen and (min-width: 90em) {
	container {
		background-color: white;
	}

	h1{
		font-family: 'Poppins', san-serif;
		font-size:4rem;
		text-align:center;
		font-weight:700;
		line-height:2em;
	}
	
	h2{
		font-family: 'Poppins', san-serif;
		font-size:2rem;
		text-align:center;
		font-weight:600;
		line-height:2em;
	}
	
	h3{
		font-family:'Poppins', san-serif;
		font-size:2rem;
		font-weight:600;
		text-align:center;
		line-height:4em;
	}
	
	p{
		font-family:;
		line-height:1.4;
	}
}