/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************************************
                    CSS Starts Here
******************************************************/
    
body {
	font-family: 'Poppins', san-serif;
}

h1{
    font-family: 'Poppins', san-serif;
    font-size:4.5em;
    text-align:center;
	font-weight:600;
	line-height:2em;
}

h2{
    font-family: 'Poppins', san-serif;
    font-size:3rem;
    text-align:center;
	font-weight:600;
	line-height:2em;
}

h3{
    font-family:'Poppins', san-serif;
    font-size:1.5rem;
    font-weight:650;
	text-align:center;
	line-height:4em;
}

p{
    font-family:'Poppins';
    line-height:2;
	font-weight:300;
}

b{
	font-weight:600;
}

i{
	font-style:italic;
}

.header{
	margin:0 auto;
}

.head {
  display: grid;
  justify-content:center;
  padding-top:20px; 
  grid-template-columns: 1.4fr 1fr 0.9fr; 
  grid-template-rows: 0.6fr 0fr 0.5fr;  
  gap: 0px 0px; 
  grid-template-areas: 
    "nav Logo ."
    ". . ."
    ". . ."; 
}

.nav { 
	background: #FFFFFF;
	justify-self:center;
	font-size:1rem;
	color:grey;
	padding-top:35px;
    font-family: 'Poppins', sans-serif;
	text-decoration: none;
	grid-area: nav;
}

nav a{
    color:grey;
	text-decoration: none;
}

nav li{
    padding-inline: 1.5rem;
}

nav a.current, nav a:active{
    background-color:#FFFFFF;
    color:grey;
}

nav ul{
    display:flex;
    color: #000000;
}

nav a:hover{
    color:#e7e7e7;
}

.logo {
	grid-area: Logo;
}

.banner{
	position: relative;
	text-align: center;
	color: white;
}

.banner-text{
	color:white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 20px 20px 20px;
}

.btn {
	background-color: white; 
	border: none;
	border-radius: 5px;
	color: black;
	padding: 15px 32px;
	text-align: center;
	font-weight:600;
	display: inline-block;
	font-family: 'Poppins', san-serif;
}

.btn:hover {
	background: #e7e7e7;
}

.container {
	margin: 0 auto;
	padding: 0px 20px 0px 20px;
    background-color: #FFFFFF;
	justify-content:center;
}

.container-1 {
    padding: 3em 4em 4em;
    background-color: #FFFFFF;
}

.container-2 {
	padding: 3em 4em 4em 2em;
	text-align:center;
}

.container-3 {
	display: grid; 
	text-align:center;
	grid-template-columns: 1fr 1fr 1fr; 
	grid-template-rows: 0fr 1fr 0.2fr; 
	gap: 0px 0px; 
	grid-template-areas: 
	  ". . ."
	  "box1 box2 box3"
	  ". . ."; 
}

.box1 {
	grid-area: box1;
}

.box2 {
	grid-area: box2;
}

.box3 {
	grid-area: box3;
}

.form_email {
		border:1px solid grey;
		color: black;
		padding: 20px;
		width:300px;
		height: 20px;
		border-radius: 5px;
		font-size: 20px;
}

.form_button {
		margin-bottom: 20px;
		background-color: white;
		border:1px solid grey;
		border-radius: 5px;
		color: black;
		padding: 15px;
		width:150px;
		text-align: center;
		font-weight:600;
		font-size:20px;
		font-family: 'Poppins', san-serif;
}

.form_button:hover {
	background: #e7e7e7;
}

.footer {
	color:white;
	background-color:black;
	text-align:center;
	bottom: 0;
	padding: 40px;
	justify-content:space-between;
	}

/* ========== Media Queries ========== */


@media screen and (max-width: 800px) {
	.container {
		width:320px;
		margin: 0 auto;
		margin-bottom:20px;
	}

	.container-2 {
		padding-left:30px;
		padding-right:30px;
		margin: 0 auto;
		margin-bottom:10px;
	}

	.head {
		margin: 0 auto;
		display:block;
		justify-content:center;
	  }
	  
	.nav { 
		font-size:1rem;
		color:grey;
		font-family: 'Poppins', sans-serif;
		text-decoration: none;
	}
	
	nav a{
		color:grey;
		text-decoration: none;
	}
	
	nav li{
		padding: 1.5em;
	}
	
	nav a.current, nav a:active{
		background-color:#FFFFFF;
		color:grey;
	}
	
	nav ul{
		color: #000000;
		justify-content:center;
	}
	
	nav a:hover{
		color:#e7e7e7;
	}
	
	.logo {
		display: block;
		text-align: center;
		width: 50%;
	}

	h1{
		font-family: 'Poppins', san-serif;
		font-size:1.4em;
		text-align:center;
		font-weight:800;
		line-height:2em;
		margin-bottom:20px;
	}

	h2{
		font-family: 'Poppins', san-serif;
		font-size:1.7em;
		text-align:center;
		font-weight:600;
		line-height:40px;
		margin-bottom:0px;
		padding-left:50px;
		padding-right:50px;
	}

	h3{
		font-family:'Poppins', san-serif;
		font-size:11px;
		font-weight:650;
		text-align:center;
		line-height:15px;
		margin-bottom:20px;
	}

	p{
		font-size:12px;
		font-family:'Poppins';
		font-weight:300;
	}

	.banner-text{
		color:white;
	}

	.btn {
		background-color: white; 
		border: none;
		border-radius: 5px;
		color: black;
		padding: 5px 15px;
		text-align: center;
		font-size:5px;
		font-weight:800;
		display: inline-block;
		font-family: 'Poppins', san-serif;
	}
	
	.form_email {
		border:1px solid grey;
		color: black;
		padding: 15px;
		width:180px;
		height: 4px;
		border-radius: 5px;
		font-size: 15px;
}

	.form_button {
		margin-bottom: 20px;
		background-color: white;
		border:1px solid grey;
		border-radius: 5px;
		color: black;
		padding: 5px;
		width:80px;
		text-align: center;
		font-weight:600;
		font-size:15px;
		font-family: 'Poppins', san-serif;
	}

	.form_button:hover {
		background: #e7e7e7;
	}

	.footer {
		font-size:11px;
		color:white;
		background-color:black;
		text-align:center;
		bottom: 0;
		padding: 40px;
		justify-content:space-between;
	}
}

@media screen and (min-width: 800px){
	.container {
		width: 400px;
		padding-left:0;
		padding-right:0;
		margin: 0 auto;
	}

	h1{
		font-family: 'Poppins', san-serif;
		font-size:2.5em;
		text-align:center;
		font-weight:800;
		line-height:1.5em;
	}

	h2{
		font-family: 'Poppins', san-serif;
		font-size:2rem;
		text-align:center;
		font-weight:600;
		line-height:1.5em;
	}

	h3{
		font-family:'Poppins', san-serif;
		font-size:1rem;
		font-weight:650;
		text-align:center;
		line-height:3em;
	}

	p{
		font-size:12px;
		font-family:'Poppins';
		line-height:2;
		font-weight:300;
	}
}

/* ========== Desktop ========== */

@media screen and (min-width: 1200px){
	.container {
		width:600px;
		padding:0 250px 0px 250px;
		margin-bottom:40px;
	}

	h1{
		font-family: 'Poppins', san-serif;
		font-size:4em;
		text-align:center;
		font-weight:600;
		line-height:1.5em;
		margin-bottom:40px;
	}

	h2{
		font-family: 'Poppins', san-serif;
		font-size:3rem;
		text-align:center;
		font-weight:600;
		line-height:2em;
	}

	h3{
		font-family: 'Poppins', san-serif;
		font-size:1.5rem;
		font-weight:650;
		text-align:center;
		line-height:2em;
		margin-bottom:40px;
	}

	p{
		font-size:15px;
		font-family: 'Poppins';
		line-height:2;
		font-weight:300;
	}

	.banner{
		max-width:100%;
	}
}